.form-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 100px;
}


.input-datetime {
  display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    width: 355px;
      height: 40px;
      margin-bottom: 32px;
}
.input-date {
  display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    width: 272px;
      height: 40px;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #2e2f42;
                  background: #fff;
          border: 1px solid #808080;
            border-radius: 4px;
            
}
.input-date:active {
  border: 1px solid #4e75ff;
}
.input-date:disabled {
  border: 1px solid #808080;
  color: #808080;
}
.button-start {
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 8px;
      padding: 8px 16px;
      width: 75px;
      height: auto;
      background: #4e75ff;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        border-color: transparent;
}
.button-start:disabled {
  color: #989898;
  background: #cfcfcf;
}
.button-start:hover {
  background: #6c8cff;
}

.timer {
  display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 24px;
    width: 346px;
      height: 72px;
}
.field {
  display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
        width: auto;
      height: 72px;
}
.value {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.label {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
}


/* 2-snackbar */


.form {
  display: flex;
    flex-direction: column;
    width: 360px;
    margin: 0 auto;
    gap: 10px;
}
.delay-value {
  display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #2e2f42;

    
}
.input-delay-value {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 342px;
    height: 24px;
    padding: 8px;
}
.input-delay-value:hover {
border-color: #000;
}

.input-delay-value:focus {
  border-color: #4e75ff;
  outline: none;
}

.fieldset {
  border-radius: 4px;
    stroke-width: 1px;
    stroke: #808080;
    display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: 48px;
font-family: "Montserrat", sans-serif;
font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.button-submit {
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 8px;
    border-color: transparent;
      padding: 8px 16px;
      width: 360px;
      height: 40px;
      background: #4e75ff;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
}
.button-submit:hover {
  background-color: #6c8cff;
}